<h1>Burgers!</h1>

<h2>Burgers Waiting to be Devoured</h2>

<ul>
    {{#each burgers}}
      <h3>Name: {{name}} </h3>
    {{/each}}
</ul>

{{!-- devoured --}}
{{!-- <ul>
    {{#each burgers}}
      <h3>Name: {{name}} </h3>
    {{/each}}
</ul> --}}

<form class="create-form">
<h2>Enter the name of a burger you would like to eat!</h2>
  <div class="form-group">
    <label for="burgerInput">Burger Name:</label>
    <input type="text" id="burgerInput" name="name">
  </div>
</form>

  <button type="submit">Add Burger</button>
  
